/* Preset */

img {
	display: block;
}





/* Layout */

#header, #footer, #content {
	width: 100%;
}

#header > .wrapper, #footer > .wrapper, #content > .wrapper {
	width: 1200px;
	margin: 0 auto;
}

.loading-bar {
	height: 6px;
	background-color: #159588;
}

html, body {
    height: 100%;
}

#loading-mask {
    height: 100%;
    width: 100%;
    background: white;
    position: fixed;
    z-index: 50;
    text-align: center;
}

#loading-mask img {
    display: inline-block;
    position: relative;
    width: 320px;
    height: auto;
	top: 50%;
    margin-top: -85px;
}






/* Header */

#header {
	padding: 40px 0;
}

#header .wrapper {
    overflow: auto;
}

#header .branding {
	display: inline-block;
	overflow: auto;
    float: left;
}

#header .branding > div {
	float: left;
}

#header .branding .tagline {
	position: relative;
	margin-left: 20px;
	top: .7em;
}

.tagline .subtitle {
	margin-bottom: 6px;
	font-size: 0.92em;
	color: #777;
}

.tagline .title {
	font-weight: bold;
}

.logo img {
	width: 66px;
	height: auto;
}



#navigation {
	display: inline-block;
	float: right;
}

#navigation ul {
	position: relative;
	margin: 0;
	padding-left: 0;
	top: 2.1em;
	font-weight: bold;
}

#navigation li {
	list-style-type: none;
	display: inline-block;
	text-transform: capitalize;
	margin-left: 1.5em;
}

#navigation a {
	color: black;
	text-decoration: none;
    -webkit-transition: linear .2s all;
    -moz-transition: linear .2s all;
    -ms-transition: linear .2s all;
    -o-transition: linear .2s all;
    transition: linear .2s all;
}

#navigation a:hover {
    color: #159588;
}




/* Contents */

#content {
	overflow: auto;
}

.work {
	position: relative;
	display: block;
	float: left;
	margin-bottom: 10px;
}

.work img {
	width: 100%;
	height: auto;
}

.work a {
	opacity: 0;
	
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #159588;
	
	text-decoration: none;
	color: white;
    -webkit-transition: linear .2s all;
    -moz-transition: linear .2s all;
    -ms-transition: linear .2s all;
    -o-transition: linear .2s all;
    transition: linear .2s all;
}

.work a:hover {
    opacity: 1;
}

.work.half-width {
	width: 49.5%;
}

.work.half-width.left {
	margin-right: 1%;
}

.work .caption {
	padding: 1.25em;
}

.caption .title {
	margin-top: 0;
	margin-bottom: .8em;
}









/* Footer */

#footer {
	overflow: auto;
	padding: 40px 0;
}

#footer .wrapper {
	overflow: auto;
	border-top: 1px solid #ddd;
	padding-top: 40px;
}

#footer .wrapper > div:not(.social-media) {
	float: left;
}

#footer .social-media {
	float: right;
}

#footer .contact-info {
	width: 32%;
}

#footer .navigation {
	width: 16%;
}




#footer ul {
	margin: 0;
	padding-left: 0;
}

#footer li {
	list-style-type: none;
}





#footer .title {
	margin-top: 0;
	margin-bottom: .6em;
	font-size: 1em;
	text-transform: capitalize;
}

#footer .contact-info > div, #footer li {
	font-size: 0.95em;
	line-height: 1.6em;
	color: #888;
	text-transform: capitalize;
}

#footer .contact-info > a {
	font-size: 0.95em;
	line-height: 1.6em;
	color: #159588;
	text-decoration: none;
}




#footer .social-media ul {
	overflow: auto;
}

#footer .social-media li {
	float: left;
	background-color: #eee;
	padding: 2px;
	margin-left: 4px;
}

#footer .social-media li a {
	font-size: 1.8em;
	line-height: 1.4em;
	color: #333;
}







