/* Preset */

img {
	display: block;
}






#main {
    background-image: url(images/grassfield.jpg);
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

#main .quote {
    width: 520px;
    position: absolute;
    top: 10%;
    left: 30%;
    color: white;
}

.quote .title {
    font-size: 2.4em;
    font-weight: bold;
}

.quote .subtitle {
    font-size: 1.2em;
}

#main .photo {
    position: absolute;
}

#main .photo:nth-of-type(1) {
    top: 300px;
    left: -800px;
}

#main .photo:nth-of-type(2) {
    top: 500px;
    left: -800px;
}

#main .photo:nth-of-type(3) {
    top: 500px;
    left: 60%;
}

#main .photo:nth-of-type(4) {
    top: 650px;
    left: 40%;
}






html, body {
    height: 100%;
}

#main-nav {
    background: #fdcb00;
    padding: 60px 30px;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    
    height: 100%;
}

#main-nav ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}