/* Layout */

#header, #footer, #content {
	width: 100%;
}

#header > .wrapper, #footer > .wrapper, main > .wrapper {
	width: 1200px;
	margin: 0 auto;
}





/* Header */

#header {
	padding: 30px 0;
}

#header .branding {
	display: inline-block;
	overflow: auto;
}

#header .branding > div {
	float: left;
}

#header .branding .tagline {
	position: relative;
	margin-left: 20px;
	top: 1em;
}

.tagline .subtitle {
	color: #777;
}

.logo img {
	width: 66px;
	height: auto;
}



#navigation {
	display: inline-block;
	float: right;
}

#navigation ul {
	position: relative;
	margin: 0;
	padding-left: 0;
	top: 2.1em;
}

#navigation li {
	list-style-type: none;
	display: inline-block;
	text-transform: capitalize;
	margin-left: 1.5em;
}

#navigation a {
	color: black;
	text-decoration: none;
}